<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4><%= t('footer.start_your_business_with_us') %></h4>
        <p><%= t('footer.descriptive_text') %></p>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row centered">
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-door-open"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-door-open"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>