<div id="footer">
  <div class="container">
    <div class="row centered">
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fas fa-door-open"></i></a>
    </div>
  </div>
</div>