<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Callista Consulting</h1>
        <h2><%= t('landing_page.sub-title') %></h2>
      </div>
    </div>
  </div>
</div>