<h1>Contacts</h1>

<div>
  <p><i class="fa fa-marker"></i> Адрес: Азербайджан, г.Баку , ул. Мехди Мехдизаде 21, AZ 1025</p>
  <p><i class="fa fa-phone"></i> Phone/whatsapp: +99455 2818001</p>
  <p><i class="fa fa-envelope"></i> Email: callistabaku&#64;gmail.com</p>
</div>