<h1><%= t('navigation.top.contacts') %></h1>

<div>
  <p><i class="fa fa-marker"></i> <%= t('contact.address') %></p>
  <p><i class="fa fa-phone"></i> <%= t('contact.phone_whatsapp') %></p>
  <p><i class="fa fa-envelope"></i> <%= t('contact.email_html') %></p>
</div>