<%= render partial: 'shared/headerwrap' %>

<%= flash_messages %>

<div class="container">

  <h1>Contacts</h1>

  <div>
    <p>Адрес: Азербайджан, г.Баку , ул. Мехди Мехдизаде 21</p>
    <p>Индекс &nbsp;AZ 1025</p>
    <p>Phone/whatsapp: +99455 2818001</p>
    <p>Email: callistabaku@gmail.com</p>
  </div>

</div>